<web-app>
<servlet>
<servlet-name>AddServlet</servlet-name>
<servlet-class>AddServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AddServlet</servlet-name>
<url-pattern>/adding</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateServlet</servlet-name>
<servlet-class>UpdateServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateServlet</servlet-name>
<url-pattern>/updating</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteServlet</servlet-name>
<servlet-class>DeleteServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteServlet</servlet-name>
<url-pattern>/deleting</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SearcingServlet</servlet-name>
<servlet-class>SearcingServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SearcingServlet</servlet-name>
<url-pattern>/searcing</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AllServlet</servlet-name>
<servlet-class>AllServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>AllServlet</servlet-name>
<url-pattern>/all</url-pattern>
</servlet-mapping>


</web-app>
